* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  header {
    font-size: 2rem;
  }
  
  header,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form input,
  form button {
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    margin: 5px;
    background: white;
  }
  form button {
    color: #ff6f47;
    background: #ededed;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form button:hover {
    background: #ff6f47;
    color: white;
  }
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-list {
    min-width: 30%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }
  .filter-todo {
    padding: 1rem;
  }
  .todo li {
    flex: 1;
  }
  
  .trash-btn,
  .complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
  .complete-btn {
    background: rgb(11, 212, 162);
  }
  .todo-item {
    padding: 0rem 0.5rem;
  }
  
  .fa-trash,
  .fa-check {
    pointer-events: none;
  }
  
  .fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  /*CUSTOM SELECTOR */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  }
  
  /* Custom Select */
  .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  select {
    color: #ff6f47;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
  }
  /* Arrow */
  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #ff6f47;
    cursor: pointer;
    pointer-events: none;
  }
  
  nav h3 {
    margin-left: 20px;
  }

  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: #000;
  }

  ul {
      display: flex;
      list-style: none;
      padding: 15px 40px;
      align-items: center;
  }

  ul li {
    margin: 5px 15px;
  }

  nav li a {
    color: white;
    text-decoration: none;
  }


  .movie-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    column-gap: 20px;
    row-gap: 30px;
    padding: 20px;
  }

.movie-item {
    background: #000;
    padding: 40px;
    border-radius: 13px;
}


.container {
  width: 90%;
  margin: auto;
}

.movie-item img {
  width: 100%;
}

.movie-item p {
  color: #898686;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.container > h3 {
  margin-top: 20px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.movie-item a {
  text-decoration:  none;
  color: white;
}

.movie-detail img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

iframe {
  position: relative;
  transform: translateY(-50%);
  margin: auto;
  width: 80%;
  display: block;
  height: 100%;
}